<!DOCTYPE html>
<head>
    <title>Oracle Coherence REST Examples - JSON Pass-through</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/demo.css">

    <script src="js/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/angularjs/1.4.1/angular.min.js"></script>
    <script src="js/json.js"></script>
</head>

<html>
<body>

<div class="container">
    <div class="page-header">
        <h2>Oracle Coherence REST Examples - JSON Pass-through</h2>
    </div>

    <div ng-app="myApp" ng-controller="jsonCtrl">

        <!-- Modal Add Departments -->
        <div class="modal fade" id="modalAdd" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close"
                                data-dismiss="modal">&times;</button>
                        <h4 style="color:red;">{{buttonAction}} JSON Data</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                             <div class="form-group">
                                <label for="key">Name</label>
                                <input type="text" class="form-control"
                                       id="key" ng-model="key"
                                       ng-readonly="editing"
                                       placeholder="Enter Key for JSON Data" required>
                            </div>
                            <div class="form-group">
                                <label for="key">JSON Data</label>
                                <textarea class="form-control" rows="9" id="jsondata" ng-model="jsondata"></textarea>
                            </div>

                            <button type="submit"
                                    class="btn btn-default btn-success btn-block"
                                    ng-click="saveEntry()">
                                Save
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-default btn-default pull-left"
                                data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="index.html" class="btn btn-default" role="button">Back to Examples Home</a>
            <button type="button" class="btn btn-default" id="btnAddEntry" ng-click="addEntry()">
                <span class="glyphicon glyphicon-plus"></span> Add Entry</button>
            <button type="button" class="btn btn-default" id="btnPopulateDefaults" ng-click="populateDefaults()">
                <span class="glyphicon glyphicon-plus"></span> Add Default JSON Data</button>
        </div>
        <p>
        <div >
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('age','')">Show All</button>
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('','address.city is \'Perth\'')">Perth Residents</button>
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('', 'age between 13 and 19')">Show Teenagers</button>
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('', 'age > 29')">Show over 30's</button>
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('age','')">Sort By age</button>
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('age:desc','')">Sort By age (desc)</button>
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('name','')">Sort By name</button>
            <button type="button" class="btn btn-default" ng-click="applySortAndQuery('address.city','')">Sort By City</button>
         </div>
        <p>

        <div class="alert alert-success" ng-show="sortApplied">
            Query URL {{current_url}}
        </div>

        <div class="alert alert-success" ng-show="increment">
            Incremented Age for {{entryActioned}}. &nbsp;&nbsp;
            POST {{current_url}}/cache/json/{{entryActioned}}/increment(age,1)
        </div>

        <div class="alert alert-success" ng-show="delete">
            Deleted Entry {{entryActioned}}. &nbsp;&nbsp;
            DELETE {{current_url}}/cache/json/{{entryActioned}}
        </div>

        <div class="alert alert-success" ng-show="save">
            Saved Entry {{entryActioned}}. &nbsp;&nbsp;
            PUT {{current_url}}/cache/json/{{entryActioned}}
        </div>

        <div class="alert alert-success">
            Age statistics from aggregators: Min = {{minAge}}, Max = {{maxAge}}
        </div>

        <table ng-table="json" >
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="x in entries">
                <td ng-if="$odd" style="background-color:#f1f1f1">
                    {{ x.key }}
                </td>
                <td ng-if="$even">
                    {{ x.key }}
                </td>
                 <td ng-if="$odd" style="background-color:#f1f1f1">
                    <a ng-href="#" ng-click="editEntry(x.key, x.value)" data-toggle="tooltip" title="Click to edit">
                        {{ x.value | jsonShort }}
                    </a>
                </td>
                <td ng-if="$even">
                    <a ng-href="#" ng-click="editEntry(x.key, x.value)" data-toggle="tooltip" title="Click to edit">
                        {{ x.value | jsonShort }}
                    </a>
                </td>

                <td ng-if="$odd" style="background-color:#f1f1f1">
                    <a ng-href="#" class="btn btn-default btn-sm" role="button" ng-click="deleteEntry(x.key)">
                        <span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <a ng-href="#" class="btn btn-default btn-sm" role="button" ng-click="incrementAge(x.key)">
                        <span class="glyphicon glyphicon-arrow-up"></span> Increment Age</a>
                </td>
                <td ng-if="$even">
                    <a ng-href="#" class="btn btn-default btn-sm" role="button" ng-click="deleteEntry(x.key)">
                        <span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <a ng-href="#" class="btn btn-default btn-sm" role="button" ng-click="incrementAge(x.key)">
                        <span class="glyphicon glyphicon-arrow-up"></span> Increment Age</a>
                </td>

            </tr>
        </table>
    </div>
</div>

</body>
</html>