<!DOCTYPE html>
<head>
    <title>Oracle Coherence REST Examples - Display Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/demo.css">

    <script src="js/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/angularjs/1.4.1/angular.min.js"></script>
    <script src="bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/products.js"></script>
</head>
<html>
<body>

<div class="container">
    <div class="page-header">
        <h2>Oracle Coherence REST Examples - Display Products</h2>
    </div>
    <div ng-app="myApp" ng-controller="productsCtrl">

        <!-- Modal Add Product -->
        <div class="modal fade" id="modalAdd" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close"
                                data-dismiss="modal">&times;</button>
                        <h4 style="color:red;">{{buttonAction}}
                            Product</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="productId" class="control-label col-sm-4">Product
                                    Id:</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="productId" ng-model="productId"
                                           ng-readonly="editing"
                                           placeholder="Enter Product Id"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="control-label col-sm-4">Product
                                    Name:</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="name" ng-model="name"
                                           placeholder="Enter Product Name"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price"
                                       class="control-label col-sm-4">Price:</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="price" ng-model="price"
                                           placeholder="Enter Product Price"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="deptCode" class="control-label col-sm-4">Department:</label>

                                <div class="col-sm-8">
                                    <select ng-model="deptCode" name="deptCode">
                                        <option ng-repeat="department in departments" value="{{department.deptCode}}">{{department.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="qtyOnHand" class="control-label col-sm-4">Quantity
                                    On Hand:</label>

                                <div class="col-sm-8">
                                    <input type="number" class="form-control"
                                           id="qtyOnHand" ng-model="qtyOnHand"
                                           placeholder="Enter Qty on Hand" min="0" step="1"
                                           required>
                                </div>
                            </div>
                            <button type="submit"
                                    class="btn btn-default btn-success btn-block"
                                    ng-click="saveProduct()">
                                Save
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-default btn-default pull-left"
                                data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <a href="index.html" class="btn btn-default" role="button">Back to
            Examples Home</a>
        <button type="button" class="btn btn-default" id="btnAddProduct"
                ng-click="addProduct()">
            <span class="glyphicon glyphicon-plus"></span> Add Product
        </button>
        <button type="button" class="btn btn-default" id="btnPopulateDefaults" ng-click="populateDefaults()">
            <span class="glyphicon glyphicon-plus"></span> Add Default Products</button>
        <button type="button" class="btn btn-default"
                  ng-click="priceAdjust()">Increase All Prices</button>

        <p>

        <div class="alert alert-success" ng-show="delete">
            Deleted Product {{productActioned}}. &nbsp;&nbsp;
            DELETE {{current_url}}/cache/products/{{productActioned}}
        </div>
        <div class="alert alert-success" ng-show="save">
            Added/Edited Product {{productActioned}}. &nbsp;&nbsp;
            PUT {{current_url}}/cache/products/{{productActioned}}
        </div>
        <div class="alert alert-success" ng-show="receive">
            Received Product {{productActioned}}. &nbsp;&nbsp;
            POST {{current_url}}/cache/products/{{productActioned}}/increment(qtyOnHand,{{amount}})
        </div>
        <div class="alert alert-success" ng-show="adjust">
            Adjusted prices by factory of {{amount}}. &nbsp;&nbsp;
            POST {{current_url}}/cache/products/increment({{amount}})
        </div>

        <table ng-table="products" >
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Department</th>
                <th>Qty On Hand</th>
                <th>Value on Hand</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="x in names">
                <td ng-if="$odd" style="background-color:#f1f1f1">
                    {{ x.productId }}
                </td>
                <td ng-if="$even">
                    {{ x.productId }}
                </td>
                <td ng-if="$odd" style="background-color:#f1f1f1">
                    <a ng-href="#"
                       ng-click="editProduct(x.productId,x.name,x.price,x.deptCode,x.qtyOnHand)"
                       data-toggle="tooltip" title="Click to edit">
                        {{ x.name }}
                    </a>
                </td>
                <td ng-if="$even">
                    <a ng-href="#"
                       ng-click="editProduct(x.productId,x.name,x.price,x.deptCode,x.qtyOnHand)"
                       data-toggle="tooltip" title="Click to edit">
                        {{ x.name }}
                    </a>
                </td>
                <td ng-if="$odd" style="background-color:#f1f1f1" align="right">
                    {{ x.price | currency}}
                </td>
                <td ng-if="$even" align="right">
                    {{ x.price | currency}}
                </td>
                <td ng-if="$odd" style="background-color:#f1f1f1" align="right">
                    {{ x.deptCode }}
                </td>
                <td ng-if="$even" align="right">
                    {{ x.deptCode }}
                </td>
                <td ng-if="$odd" style="background-color:#f1f1f1" align="right">
                    {{ x.qtyOnHand }}
                </td>
                <td ng-if="$even" align="right">
                    {{ x.qtyOnHand }}
                </td>
                <td ng-if="$odd" style="background-color:#f1f1f1" align="right">
                    {{ x.price * x.qtyOnHand | currency }}
                </td>
                <td ng-if="$even" align="right">
                    {{ x.price * x.qtyOnHand | currency }}
                </td>
                <td ng-if="$odd" style="background-color:#f1f1f1">
                    <a ng-href="#" class="btn btn-default btn-sm" role="button"
                       ng-click="deleteProduct(x.productId)">
                        <span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <a ng-href="#" class="btn btn-default btn-sm" role="button"
                       ng-click="receiveStock(x.productId)">
                        <span class="glyphicon glyphicon-ok"></span> Receive</a>
                </td>
                <td ng-if="$even">
                    <a ng-href="#" class="btn btn-default btn-sm" role="button"
                       ng-click="deleteProduct(x.productId)">
                        <span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <a ng-href="#" class="btn btn-default btn-sm" role="button"
                       ng-click="receiveStock(x.productId)">
                        <span class="glyphicon glyphicon-ok"></span> Receive</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
