<!DOCTYPE html>
<head>
    <title>Oracle Coherence REST Examples - SSE </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="js/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/angularjs/1.4.1/angular.min.js"></script>
    <script src="bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/sse.js"></script>
</head>
<html>
<style>
    table, td  {
        border-collapse: collapse;
        padding: 3px;
    }
</style>
<body>
<div class="container">
    <div class="page-header">
        <h1>Oracle Coherence REST Examples - Server Sent Events (SSE)</h1>
    </div>

    <div ng-app="myApp" ng-controller="eventsCtrl">

        <a href="index.html" class="btn btn-default" role="button">Back to Examples Home</a>
        <a href="sse.html" class="btn btn-default" role="button">Reset All</a>
        <p/>

        <div class="alert alert-info" ng-show="isIE">
           Internet Explorer does not support Server Sent Events.
           Refer to <a href="http://www.w3schools.com/html/html5_serversentevents.asp">http://www.w3schools.com/html/html5_serversentevents.asp</a>
        </div>

        <div class="row">

            <div class="col-md-4" style="background-color:transparent;border: thin">
                <h3>Contacts</h3>

                <button type="button" class="btn btn-default"
                        ng-disabled="contacts.listening"
                        ng-click="startListeningContacts()">Start Listening
                </button>
                <p>
                    Filter:&nbsp;&nbsp;
                    <label class="radio-inline"><input type="radio"
                                                       name="option"
                                                       checked="checked"
                                                       ng-disabled="contacts.listening"
                                                       ng-click="setType('all')">All Events</label>
                    <label class="radio-inline"><input type="radio"
                                                       name="option"
                                                       ng-disabled="contacts.listening"
                                                       ng-click="setType('>=45')">age >= 45</label>
                    <label class="radio-inline"><input type="radio"
                                                       name="option"
                                                       ng-disabled="contacts.listening"
                                                       ng-click="setType('<45')">age < 45</label>
                <p>
                <table>
                    <tbody>
                    <tr>
                        <td width="150"><b>Status:</b></td>
                        <td> {{contacts.status}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>Insert Count:</td>
                        <td> {{contacts.insertCount}}</td>
                    </tr>
                    <tr>
                        <td>Update Count:</td>
                        <td> {{contacts.updateCount}}</td>
                    </tr>
                    <tr>
                        <td>Delete Count:</td>
                        <td> {{contacts.deleteCount}}</td>
                    </tr>
                    <tr>
                        <td>All events Count:</td>
                        <td> {{contacts.allCount}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td><b>Last Event:</b></td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td> {{contacts.eventType}}</td>
                    </tr>
                    <tr>
                        <td>Key:</td>
                        <td valign="top"> {{contacts.eventKey}}</td>
                    </tr>
                    <tr>
                        <td valign="top">New Value:</td>
                        <td> {{contacts.eventNewValue}}</td>
                    </tr>
                    <tr>
                        <td valign="top">Old Value:</td>
                        <td> {{contacts.eventOldValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4" style="background-color:transparent;border: thin">
                <h3>Products</h3>

                <button type="button" class="btn btn-default"
                        ng-disabled="products.listening"
                        ng-click="startListeningProducts()">Start Listening
                </button>
                <p>
                    Filter:&nbsp;&nbsp;

                    <label class="radio-inline"><input type="radio"
                                                       name="optionProducts"
                                                       checked="checked"
                                                       ng-disabled="products.listening"
                                                       ng-click="setTypeProducts('all')">All</label>
                    <label class="radio-inline"><input type="radio"
                                                       name="optionProducts"
                                                       ng-disabled="products.listening"
                                                       ng-click="setTypeProducts('>=1000')">price >= 1000</label>
                <p>
                <table >
                    <tbody>
                    <tr>
                        <td width="150"><b>Status:</b></td>
                        <td> {{products.status}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>Insert Count:</td>
                        <td> {{products.insertCount}}</td>
                    </tr>
                    <tr>
                        <td>Update Count:</td>
                        <td> {{products.updateCount}}</td>
                    </tr>
                    <tr>
                        <td>Delete Count:</td>
                        <td> {{products.deleteCount}}</td>
                    </tr>
                    <tr>
                        <td>All events Count:</td>
                        <td> {{products.allCount}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td><b>Last Event:</b></td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td> {{products.eventType}}</td>
                    </tr>
                    <tr>
                        <td valign="top">Key:</td>
                        <td > {{products.eventKey}}</td>
                    </tr>
                    <tr>
                        <td valign="top">New Value:</td>
                        <td> {{products.eventNewValue}}</td>
                    </tr>
                    <tr>
                        <td valign="top">Old Value:</td>
                        <td> {{products.eventOldValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4" style="background-color:transparent;border: thin">
                <h3>Departments</h3>

                <button type="button" class="btn btn-default"
                        ng-disabled="departments.listening"
                        ng-click="startListeningDepartments()">Start Listening
                </button>

                <p>
                <table >
                    <tbody>
                    <tr>
                        <td width="150"><b>Status:</b></td>
                        <td> {{departments.status}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>Insert Count:</td>
                        <td> {{departments.insertCount}}</td>
                    </tr>
                    <tr>
                        <td>Update Count:</td>
                        <td> {{departments.updateCount}}</td>
                    </tr>
                    <tr>
                        <td>Delete Count:</td>
                        <td> {{departments.deleteCount}}</td>
                    </tr>
                    <tr>
                        <td>All events Count:</td>
                        <td> {{departments.allCount}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td><b>Last Event:</b></td>
                        <td> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td> {{departments.eventType}}</td>
                    </tr>
                    <tr>
                        <td valign="top">Key:</td>
                        <td > {{departments.eventKey}}</td>
                    </tr>
                    <tr>
                        <td valign="top">New Value:</td>
                        <td> {{departments.eventNewValue}}</td>
                    </tr>
                    <tr>
                        <td valign="top">Old Value:</td>
                        <td> {{departments.eventOldValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
    </div>
</div>
</body>
</html>